@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
}

body{
    background-color: rgb(20, 20, 20);
    font-family: "Inter", serif;
}

.parent-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.main-container {
    background-color: rgb(31,31,31);
    max-width: 330px;
    max-height: 560px;
    border-radius: 8px;
    position: fixed;
    margin: auto;
    inset: 0;
    padding: 2rem;
}

.favicon-img {
    max-width: 80px;
    margin-inline: auto;
    border-radius: 50%;
}

.profile-name {
    font-weight: 500;
    color: hsl(0, 0%, 100%);
    margin-block: 1rem;
}

.location {
    color: hsl(75, 94%, 57%);
    font-size: smaller;
}

.paragraph {
    font-size: 14px;
    font-weight: 400;
    color: rgb(183,183,183);
    margin-block: 1.5rem;
}

.common-class {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color:white;
    font-size: 14px;
    font-weight: 600;
    background-color: rgb(51,51,51);
    border-radius: 6px;
    margin-block: 1rem;
    padding-block: 0.75rem;
}

.common-class:hover{
   background-color: rgb(75, 75, 75);
   transition: 0.3s ease-in-out;
}

@media (max-width:450px) {
    .main-container {
        margin-inline: auto;
        /* margin-block: auto; */
        margin-top: 0.5rem;
    }

    .common-class:visited{
       background-color: rgb(75, 75, 75);
       transition: 0.3s ease-in-out;
    }
}

@media (max-width:1024px) {
    .main-container {
        margin-inline: auto;
        /* margin-block: auto; */
        margin-top: 3rem;
        /* max-height: 590px; */
    }
}

@media (max-width:1250px) {
    .main-container {
        margin-inline: auto;
        /* margin-block: auto; */
        margin-top: 3rem;
        /* max-height: 590px; */
    }
}
